html,
body {
  height: 100%;
}

.top-button {
  position: fixed;
  bottom: 2vh;
  right: 1vh;
  background-color: transparent;
}

.top-button:hover {
  scale: 0.9;
}

.top-button:active {
  transform: translateY(1px);
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
}
